*
{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
  
   background: linear-gradient(rgb(130, 130, 222), rgb(91, 153, 207) );
}
header{
    height: 90vh;
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
.container{
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: rgba(21, 233, 240, 0.2);
    backdrop-filter: blur(15px);
    gap: 20px;
    border-radius: 20px;
}
.tasks{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: last baseline;
    text-transform: uppercase;
    gap: 0.6rem;
    font-weight: bold;
}
.input{
    background-color: rgb(236, 231, 220);
    border-radius: 10px;
    color: rgb(18, 4, 4);
    gap: 0px;
    
}
input{
    padding: 0.5rem 1.0rem;
    border: none;
    background-color: rgb(224, 172, 109);
    
}
button{
    padding:0.5rem 1rem ;
    border: none;
    background-color: orange;
    border-radius: 10px;

}
button:active{
    scale:0.95 ;
}
li{
    list-style-type: disc;
}
@media (max-width:703px)
{
.container{
    width: 70vw;
    height: 70vh;
}
}
/* @media (max-width:500px)
{
 .container{
    width:70vw ;
    height: 70vh;
 }
} */
